@page "/"

<PageTitle>Home</PageTitle>

<h1><b>Welcome to The Filer!</b></h1><br

<main>
    <div class="card p-4 mb-2 card border-dark">
        <p><strong>On this simple website you can view, add, and delete text files within the browser.</strong></p>
        <p><i>This is a Blazor application in the .Net framework showcasing a minimal based Api.<br>See the menu to the left to explore different functionalities.</i></p>
    </div>
</main>